


body {

  background:url(p5.png);
  background-repeat: repeat

	font-size:100%; font-family:Arial, "Arial Black", Verdana, sans-serif; 
}

h1, h2, h3 {font-family:Times, "Times New Roman", Georgia, serif; color:Green;}

blockquote {
	padding:2em;
	background:linear-gradient(to right, red 0%,orange 25%,yellow 50%,green 75%);
}


.bonsai1 {
	border-radius:15px; 
	box-shadow: 10px 10px 5px #888888;
	float:right; 
	margin-left:1em; 
	border: 6px solid; 
	border-color:green; 
}
