body {font-size:100%; font-family:"Sans-serif",Arial, Arial Black, Verdana;}

h1 {font-family:"Serif",Times, Times New Roman, Georgia; color:Green;}
h2 {font-family:"Serif",Times, Times New Roman, Georgia; color:Green;}
h3 {font-family:"Serif",Times, Times New Roman, Georgia; color:Green;}

blockquote {background-color:rgba(100,0,0,0.5);}

.bonsai1 {float:right; margin-left:1em; border: 6px solid; border-color:green; }
